 $break-width: 5rem;
 $mobile-width: $break-width - 20rem;
 
 $background-color: #c7c7c7;
 $text-color: #1a1a1a;
 $text-color-dimmed: #1c1c1c;
 
 $dark-background-color: #1e272e;
 $dark-text-color: #fefefe;
 $dark-text-color-dimmed: #dadada;